<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>게시판 리스트</title>
<link rel="stylesheet" href="/css/header.css" />
<link rel="stylesheet" href="/css/reviewList.css">
<link rel="stylesheet" href="/css/default.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
	integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

<script>
      function search() {
        let searchText = document.getElementById("searchText").value;
        location.href="/review/list?searchText=" + searchText;
      }
    </script>
</head>
<body>

	<div th:replace="fragments/header :: header"></div>
	<div class="header-container">
		<div class="review">

			<section class="notice">
				<div class="page-title">
					<h1>[ [[#{alert.adlist}]] ]</h1>
				</div>
				
					<div class="review-container">
					<!-- board seach area -->
					<div id="review-search">
						<div class="search-window">
								<div class="search-wrap">
									<input id="searchText" type="search" name="searchText"
										th:attr="placeholder=#{${'alert.Pleasesc'}}">
									<button type="button" onclick="search()" class="btn search-btn">[[#{alert.Search}]]</button>
								</div>
						</div>
					</div>
				
				
				<p>
				<table class="review-table">
					<thead>
							<tr class="mainTitle">
								<th scope="col" class="th-num">>[[#{alert.No1}]]</th>
								<th scope="col" class="th-place">[[#{alert.Place}]]</th>
								<th scope="col" class="th-title">[[#{alert.Title}]]</th>
								<th scope="col" class="th-writer">[[#{alert.Writer}]]</th>
								<th scope="col" class="th-date">[[#{alert.Date}]]</th>
								<th scope="col" class="th-hit">[[#{alert.HIT}]]</th>
							</tr>
					</thead>
					<tbody th:if="${session.loginMember != null}">
							<tr th:if="${findReviewsByMainTitle}" th:each="review, reviewsStat: ${findReviewsByMainTitle}">
								<td class="color" th:text="${reviewsStat.count}"></td>
								<td class="color" th:text="${review.review_place}"></td>
								<th><a th:text="${review.title}"
									th:href="@{/review/read(review_id=${review.review_id})}"></a></th>
								<td th:text="${review.member_id}" class="center"></td>
								<td th:text="${#temporals.format(review.created_time, 'yyyy-MM-dd')}"></td>
								<td th:text="${review.hit}"></td>
							</tr>
							<tr th:if="${findReviewsByMainTitle.empty}">
							    <td class="color" colspan="6">리뷰가 없습니다.</td>
							</tr>
					</tbody>
				</table>
				<p>
				<p>
				<div class="center">
					<input type="button" onclick="location.href='/review/list'"
						th:value="#{alert.onlist}" class="input-btn" class="input-btn"> 
					<input type="button" class="input-btn"
						onclick="location.href='/review/write'" data-value="#{alert.Writing}" th:value="#{alert.Writing}"> 
					<input class="input-btn"
						type="button" onclick="location.href='/'" data-value="#{alert.main}" th:value="#{alert.main}">
				</div>
				<script th:inline="javascript">
				$(document).ready(function() {
					  $('input[type="button"]').each(function() {
					    $(this).val($(this).attr('value'));
					  });
					});
				</script>
				</div>
			</section>
			
			
			
		</div>
		
		
		
		
		
		
		
		
		
		
		
		
</div>
</body>
</html>