<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>게시판 리스트</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="/css/header.css" />
<link rel="stylesheet" href="/css/list.css">
<script src="/js/index.js"></script>

</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	
	<div id="card-container">
	
		<div class="container">

			<div class="card" style="--clr: #009688;"
				th:each="course :${findAllCourse}">
				<div class="imgBx">
					<!--이미지-->
					<img th:src="@{${course.main_img}}">
				</div>
				<div class="content">
					<h2 th:text="${course.course_title}"></h2>
					<p th:text="${#strings.abbreviate(course.course_sequense,70)}"></p>
					<a th:href="@{/course/CourseInfo(course_id=${course.course_id})}">상세보기</a> 
					<p>
					<a th:utext="'좋아요 수 : '+${course.place_like}"></a> <a
						th:utext="'조회수 : '+${course.hit}"></a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>